body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 62.5%;
    text-align: center;
}
header p {
    font-size: 1.6em;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 10px 0;
    background-color: rgb(128, 144, 192);
    color: white;
    width: 100px;
}
h1 {
    font-size: 3em;
    font-weight: 500;
}
span {
    color: rgb(41, 185, 185);
    font-weight: 700;
}
main p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.6em;
}
button {
    padding: 10px 20px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.76);
    color: white;
    border: none;
    border-radius: 3px;
}
